body {
    overflow-x: hidden;
    width: 100%;
    font: 30px "Century Gothic", "Times Roman", sans-serif;
    background: #eee;
    min-height: 900px;
    background-attachment: fixed;
}

.bg {
    min-height: 540px;
}

.bg1 {
    background: url(../image/anhnen.jpg);
    min-height: 900px;
    background-repeat: repeat;
    background-size: cover;
}
.feedback111{
    background: url(../image/background_feedback.jpg);
    min-height: 900px;
    background-repeat: repeat;
    background-size: auto;
}

@font-face {
    font-family: 'typo';
    src: url('../fonts/typo.ttf');
}

@font-face {
    font-family: 'gothic';
    src: url('../fonts/gothics.ttf');
}

.panel {
    border-color: #eee;
    margin: 40px;
    padding: 20px;
    font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title {
    font-family: 'typo';
}

.header {
    background: #e9c558;
    height: 70px;
}

.logo {
    font-family: 'typo';
    font-size: 35px;
    color: rgb(12, 101, 190);
    margin: 15px;
}

.title1 {
    font: 15px "Century Gothic", "Times Roman", sans-serif;
}

.title2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20x;
}


.sub1 {
    width: 90px;
    color: #fff;
    background: rgb(12, 101, 190);
    font-size: 15px;
    height: 35px;
    margin: 20px;
    padding: 8px;
    width: 121px;
}


.sub {
    width: 100%;
    background-color: #9acd32;
    font-size: 20px;
    padding: 2px;
    margin-top: 15px;
    margin-right: 20px;
}

.sub:hover {
    color: #fff;
}



.box {
    padding: 9px;
}

hr {
    color: #000000;
}

.top {
    margin-top: 20px;
}

.log1 {
    font: 15px 'Ubuntu', sans-serif;
    color: rgb(12, 101, 190);
    margin-left: 10px;
}

.log {
    margin: 10px;
    margin-right: 60px;
    margin-left: 5px;
    color: rgb(12, 101, 190);
    text-decoration: none;
    font-size: 20px;
    font-size: 15px;
}

.log:hover {
    color: #9acd32;
    border-top: 2px solid;
    border-color: orange;
    text-decoration: none;
}


.color_text {
    color: #3182d5;
    font-weight: bold;
}

#registrationForm {
    display: none;
  }
  
  #registrationForm.active {
    display: block;
  }