.text-primary {
    color: #337ab7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
.lh-label {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    background: #ffffff;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
}
.wrapper {
    background-color: #f8f9fa;
}
.nhap {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
.send {
    font-size: 0.8rem;
    background-color: #00c0ef;
    border-color: #00acd6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.send:hover {
    background-color: #46b8da;
  }
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }