@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
  box-sizing: border-box;
  
  padding: 0;
  margin: 0;
 
}
body {
  position: relative;
  width: 100%;
  background: url("/images/aaa.jpg");
  background-size: cover;

}
input{
  font-family: 'Roboto', sans-serif !important;
}
.navmenu{
  position:fixed;
  width: 250px;
  height: 100%;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  border-right: 1px solid rgb(187, 169, 169); 
  z-index: 20;
  transition: ease-in-out 0.5s;
  font-family: 'Dancing Script', cursive;
  font-size: larger;
}
.navmenu.hide{
  width: 0;
}

.navmenu ul{
  width: 100%;
  list-style: none;
  overflow: hidden;

}
.navmenu ul li a{
  width: 100%;
  color:#1e90ff ;
  display: inline-flex;
  align-items: center;
  padding: 25px 5px;
  transition: linear 0.2s;
  font-size: 1.2em; 
  text-decoration: none;

}
.navmenu ul li a i{
  margin: 0 20px;
  color: #1e90ff;
  font-size: 1.8em;
  transition: linear 0.2s;
}

.navmenu ul li a:hover{
  background-color: #1e90ff;
  color: white;
  text-decoration: none;
}
.navmenu ul li a:hover i{
  color: #fff;
  
}
.content{
  position: absolute;
  top :0;
  left: 250px;
  width: calc(100% - 250px);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: ease-in-out 0.5s;
}
.content-wrapper .expand{
  width: 100%;
  left: 0;
}

.content-wrapper h2{
  font-size: 4.5em;
  color: #1e90ff;
  text-transform: uppercase;
}

.navmenu .toggle_menu{
  position: absolute;
  top :20px;
  right: -46px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  transition: linear 0.2s;
}

.navmenu .toggle_menu i {
  color: #1e90ff;
  font-size: 1.5em;
  transition: linear 0.2s;

}
.navmenu .toggle_menu:hover{
  background: #1e90ff;
  
}
.navmenu .toggle_menu:hover i{
  color: #fff;
}

.navmenu ul li .sub-menu {
  display: none;
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  left: 100%;
  width: 250px;
  border:1px solid #1e90ff;
  font-size: 25px;
}

.navmenu ul li:hover .sub-menu {
  display: block;
  position: absolute;
  top: 547px;
  left: 100%;
}

.navmenu ul li .sub-menu li {
  border-bottom: 1px solid rgb(187, 169, 169);
}

.navmenu ul li .sub-menu li:last-child {
  border-bottom: none;
}

.navmenu ul li .sub-menu li a {
  color: #1e90ff;
  display: block;
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none;
  transition: linear 0.2s;
}

.navmenu ul li .sub-menu li a:hover {
  background-color: #1e90ff;
  color: white;
}




.text-primary {
    color: #337ab7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
.content-wrapper {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
    background-color: #f8f9fa;
}
.nhap {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
.send {
    font-size: 0.8rem;
    background-color: #00c0ef;
    border-color: #00acd6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.send:hover {
    background-color: #46b8da;
  }
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  
  
  
  
  #successMessage {
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }
  .success-background {
    background-color: lightgreen;
  } 