@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
   
  }
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    background: url(../images/background_nentracnghiem.webp) ;
    background-size: cover;
    position: absolute;
    top :0;
    left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    padding: 20px;
    transition: ease-in-out 0.5s;
  }


   #header{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1{
    font-size: 22px;
    color: #007bff;
    padding-bottom: 30px;
  }
  h3 {
    font-size: 1.2rem;
  }
  #content-main{
    border: 2px solid #3490dc;
    padding:  80px 60px;
    border-radius: 10px;
    width: 1100px;
    background-color: #fff;
  }
  .title{
    font-weight: 400;
    font-size: 18px;
  }
  .quiz-container {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  
 
  .correct {
    color: #fff;
    background-color: green ;
    margin-top: 10px;
  }
  
  .incorrect {
    color: #fff;
    background-color: red;
    margin-top: 10px;
  }
  
  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-container button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #slider {
    width: 100%;
    margin-bottom: 20px;
  }
  .clicknext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
   
  }
  input{
    border-radius: 5px; 
    color: #007bff;
    margin-top: 20px;
  }
  .check{
    background-color: #007bff;
    color:#fff;
    border: 2px solid black;
    width: 110px;
    height: 30px;
    font-size: 12px;
}
#previousBtn{
 margin-right: 10px ;
 width: 100px;
}
#nextBtn{
    width: 100px;
} 
#question{
    font-size: 17px;
    font-weight: 400;
}






input{
    font-family: 'Roboto', sans-serif !important;
  }
  .navmenu{
    position:fixed;
    width: 250px;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(187, 169, 169); 
    z-index: 20;
    transition: ease-in-out 0.5s;
    font-family: 'Dancing Script', cursive !important;
    font-size: larger;
  }
  .navmenu.hide{
    width: 0;
  }
  
  .navmenu ul{
    width: 100%;
    list-style: none;
    overflow: hidden;
  
  }
  .navmenu ul li a{
    width: 100%;
    color:#1e90ff ;
    display: inline-flex;
    align-items: center;
    padding: 25px 5px;
    transition: linear 0.2s;
    font-size: 1.2em; 
    text-decoration: none;
  
  }
  .navmenu ul li a i{
    margin: 0 20px;
    color: #1e90ff;
    font-size: 1.5em;
    transition: linear 0.2s;
  }
  
  .navmenu ul li a:hover{
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
  }
  .navmenu ul li a:hover i{
    color: #fff;
    
  }
  
  .content-wrapper .expand{
    width: 100%;
    left: 0;
  }
  
  .content-wrapper h2{
    font-size: 4.5em;
    color: #1e90ff;
    text-transform: uppercase;
    
  }
  
  .navmenu .toggle_menu{
    position: absolute;
    top :20px;
    right: -46px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    transition: linear 0.2s;
  }
  
  .navmenu .toggle_menu i {
    color: #1e90ff;
    font-size: 1.2em;
    transition: linear 0.2s;
  
  }
  .navmenu .toggle_menu:hover{
    background: #1e90ff;
    
  }
  .navmenu .toggle_menu:hover i{
    color: #fff;
  }
  .ttcau {
    width: 50px;
    height: 30px;
    margin-top: 10px;
    margin-left: 3px;
  }
  .correct-answer {
    color: green;
    padding-top: 10px;
}
  .wrong-answer {
    color: red;
    padding-top: 10px;
  }
  #hoanthanhBtn {
    margin-left: 10px;
    width: 150px;
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
#confirmBtn {
  width: 100px;
  border-radius: 5px;
}
#cancelBtn {
  width: 50px;
  border-radius: 5px;
}