@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,500&display=swap');
body {
  background: url("../images/aaa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}
.content-wrapper {
    font-family: 'Roboto', sans-serif;
    backdrop-filter: none;
}
.text-primary {
    color: #337ab7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}
.lh-label {
    font-family: Arial, Helvetica, sans-serif;
}
.content {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(212, 212, 212, 0.1);
}
.nhap {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.p-quyen {
    border-radius: 4px;
    font-size: .7rem;
    color: #fff;
    display: table;
    background-color: #00c0ef;
}
.suatt {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    box-shadow: none;
    padding: 8px 13px;
    margin-top: 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 4px;
}
.ttcanhan {
  text-align: center;
  height: 6rem;
  font-size: 1.3rem;
}
.image-preview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
  }
  
  .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-image {
    display: flex;
    align-items: center;
  }
  
  .image-preview-container {
      border: 1px solid;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .file-input {
    margin-left: 10px;
  }