@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');




*{
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
   
}
body{
    position: relative;
    width: 100%;
  
}
input{
    font-family: 'Roboto', sans-serif !important;
}
.navmenu{
    position:fixed;
    width: 250px;
    height: 100%;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(187, 169, 169); 
    z-index: 20;
    transition: ease-in-out 0.5s;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}
.navmenu.hide{
    width: 0;
}

.navmenu ul{
    width: 100%;
    list-style: none;
    overflow: hidden;

}
.navmenu ul li a{
    width: 100%;
    color:#1e90ff ;
    display: inline-flex;
    align-items: center;
    padding: 25px 5px;
    transition: linear 0.2s;
    font-size: 1.2em; 
    text-decoration: none;

}
.navmenu ul li a i{
    margin: 0 20px;
    color: #1e90ff;
    font-size: 1.8em;
    transition: linear 0.2s;
}

.navmenu ul li a:hover{
    background-color: #1e90ff;
    color: white;
    text-decoration: none;
}
.navmenu ul li a:hover i{
    color: #fff;
    
}
.content{
    position: absolute;
    top :0;
    left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: ease-in-out 0.5s;
}
.content-wrapper .expand{
    width: 100%;
    left: 0;
}

.content-wrapper h2{
    font-size: 4.5em;
    color: #1e90ff;
    text-transform: uppercase;
}

.navmenu .toggle_menu{
    position: absolute;
    top :20px;
    right: -46px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    transition: linear 0.2s;
}

.navmenu .toggle_menu i {
    color: #1e90ff;
    font-size: 1.5em;
    transition: linear 0.2s;

}
.navmenu .toggle_menu:hover{
    background: #1e90ff;
    
}
.navmenu .toggle_menu:hover i{
    color: #fff;
}





.content-wrapper {
    font-family: 'Roboto', sans-serif;
}
.text-primary {
    color: #337ab7;

    font-size: 1.5rem;
}
.lh-label {
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: #f8f9fa;
}
.nhap {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
  }
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.p-quyen {
    border-radius: 4px;
    font-size: .9rem;
    color: #fff;
    display: table;
    background-color: #00c0ef;
}
.suatt {
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    box-shadow: none;
    padding: 5px 10px;
    color: #fff;
    background-color: #3c8dbc;
    border-color: #367fa9;
    border-radius: 4px;
}
.image-preview {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
  }
  
  .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container-image {
    display: flex;
    align-items: center;
  }
  
  .image-preview-container {
      border: 1px solid;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
  }
  
  .image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .file-input {
    margin-left: 10px;
  }